
.vs/

AbstractFactory/bin/

AbstractFactory/obj/

Builder/bin/

Builder/obj/

Phototype/obj/

Phototype/bin/

CoP/bin/

CoP/obj/

Adapter/bin/

Adapter/obj/

Singleton/obj/

Bridge/bin/

Bridge/obj/
